<section data-component="purchase-info">
  <crypto-header></crypto-header>
  <main>
    <form [formGroup]="cryptoForm">
      <div>
        <mat-form-field>
          <mat-label>Users</mat-label>
          <mat-select formControlName="userName">
            <mat-option *ngFor="let user of userList" [value]="user">{{user.UserName | titlecase}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Coins</mat-label>
          <mat-select formControlName="coinName">
            <mat-option *ngFor="let coin of coinList" [value]="coin.Symbol">{{coin.Name | titlecase}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <input matInput type="text" formControlName="purchasePrice" placeholder="Purchased Price">
      </div>
      <div>
        <input matInput type="text" formControlName="quantity" placeholder="Quantity">
      </div>
      <div>
        <input matInput type="text" formControlName="totalAmount" placeholder="Total Rupees">
      </div>
      <div>
        <input matInput type="text" formControlName="purchaseDate" placeholder="purchaseDate">
      </div>
      <div>
        <button (click)="saveDetails()">Save</button>
      </div>
    </form>
  </main>
  
</section>
