section[data-component="purchase-info"] {
  > main {
    display: flex;
    align-items: center;
    justify-content: center;
    > form {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      > div {
        width: 25%;
        margin: 20px 10px;
        &:last-of-type {
          display: flex;
          justify-content: center;
          margin-top: 15px;
          width: 100%;
        }
        > mat-form-field {
          width: 100%;
        }
        > input {
          padding: 0px 5px;
          border-bottom: 1px solid #cccccc;
        }
      }
    }
  }
  
}